* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.diseño {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

h1 {
    color: black;
    font-style: inherit;
    text-align: center;
    font-size: 50px;
}

::-webkit-scrollbar {
    background: black;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 6px;
    border-right: 2px solid black;
}

.calculadora {
    position: relative;
    display: grid;
}

.calculadora .value {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    background: #0d4d6b;
    color: white;
}

.calculadora span {
    display: grid;
    width: 60px;
    height: 60px;
    color: white;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 2px;
}

.calculadora span:active {
    background: #74ff3b;
    color: #111;
}

.calculadora span.clear {
    grid-column: span 2;
    width: 125px;
    background: #ff3077;
}

.calculadora span.suma {
    grid-row: span 2;
    height: 125px;
}

.calculadora span.resultado {
    background: #03b1ff;

}